body {
  background-color: $body-bg-color;
  font-family: $base-font-family;
}

a {
  &:hover {
    text-decoration: none;

    i.fa.fa-facebook-f {
      color: $facebook-color;
    }

    i.fa.fa-twitter {
      color: $twitter-color;
    }

    i.fa.fa-google-plus {
      color: $google-plus-color;
    }

    i.fa.fa-linkedin {
      color: $linkedin-color;
    }

    i.fa.fa-rss {
      color: $rss-color;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $headings-color;
}

hr {
  border-top: 3px solid $light-border-color;
  margin-left: -15px;
  margin-right: -15px;
}

// form {
  input, textarea, .form-control {
    border-top: 2px solid $input-border-color;
    border-left: 3px solid $input-border-color;
    background-color: $light-border-color;
    border-radius: 7px;
    border-right: 3px solid $light-border-color;
    border-bottom: 3px solid $light-border-color;

    &:focus {
      box-shadow: none !important;
    }
  }

  label {
    color: $headings-color;
    font-size: 1.1rem;
  }

  button, .btn {
    background-color: $secondary-color;
    border-bottom: 4px solid $secondary-darker-color;
    color: #fff;
    padding: .6rem 4.5rem;
    font-weight: 600;
  }
// }
