// Navbar //
.navbar {
  background-color: $primary-color;

  .navbar-brand {
    strong {
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: .2rem;
    }

    small {
      font-size: 1.3rem;
      letter-spacing: .1rem;
    }
  }

  .nav-item {
    transition: all .5s, border-radius 0s;

    &:hover {
      background-color: $blue-primary-link-hover;
      border-bottom: 3px solid $blue-primary-link-borders;

      @include border-radius(5px);
    }

    &.active {
      background-color: $blue-primary-link-hover;
      border-bottom: 3px solid $blue-primary-link-borders;

      @include border-radius(5px);
    }

    &.dropdown.active, &.dropdown.show {
      background-color: $red-primary;
      border-bottom: 3px solid $red-secondary;

      @include border-radius(5px);
    }
  }

  .nav-link {
    color: white !important;
    font-size: .8rem;
    font-weight: 600;
    padding: .25rem .9rem .4rem !important;
    text-transform: uppercase;
  }

  .dropdown-menu {
    background-color: $red-secondary;
    margin-top: 1rem;
    padding: 0 5px;
    position: relative;

    &::before {
      border-bottom: 8px solid $red-secondary;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: '';
      display: inline-block;
      left: 10px;
      position: absolute;
      top: -8px;
    }

    .dropdown-item {
      background-color: $red-primary;

      @include border-radius(5px);

      color: white;
      font-size: .85rem;
      font-weight: 600;
      margin: 5px 0;
      padding-left: .5rem;
      padding-right: 1rem;
      transition: all .2s, border-radius 0s;

      &:hover, &.active {
        background-color: $blue-primary;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .fa {
    margin-right: 5px;
  }

  .search {
    width: 0;
    height: 0;

    .form-group {
      @include border-radius(5px);

      display: inline-block;
      height: 32px;
      margin-left: 10px;
      position: relative;
      transition: all .5s, border-radius 0s;
      width: 32px;

      &.show {
        background-color: $red-primary;
        border-bottom: 3px solid $red-secondary;
      }

      .dropdown-menu {
        background-color: $red-secondary;
        margin-top: 1rem;
        padding: 4px;
        position: relative;
        left: -12rem;
        min-width: 14rem;

        &::before {
          border-bottom: 8px solid $red-secondary;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          content: '';
          display: inline-block;
          right: 10px;
          left: unset;
          position: absolute;
          top: -8px;
        }

        .dropdown-item {
          background-color: $red-primary;

          @include border-radius(5px);

          color: white;
          font-size: .85rem;
          font-weight: 600;
          margin: 5px 0;
          padding-left: .5rem;
          padding-right: 1rem;
          transition: all .2s, border-radius 0s;

          &:hover, &.active {
            background-color: $blue-primary;
          }
        }
      }

      .form-control {
        background: #fff;
        border: 0 none;
        box-shadow: none;
        display: block;

        @include border-radius(3px);

        padding: .2rem .75rem;
      }

      .form-control::-webkit-input-placeholder {
        display: none;
      }

      .form-control::-moz-placeholder {
        // Firefox 18- //
        display: none;
      }

      .form-control:-ms-input-placeholder {
        display: none;
      }

      &.active {
        @include border-radius(4px 25px 25px 4px);

        margin-left: 0;
        transform: translate3d(30px, 0, 0);
        width: 19%;
      }

      @media (max-width: 1199.98px) {
        &.active {
          width: 15%;
        }
      }

      .form-control-feedback {
        color: #fff;
        cursor: pointer;
        display: block;
        left: initial;
        position: absolute;
        right: 3px;
        text-align: center;
        top: 7px;
        z-index: 2;
      }
    }

    @media (max-width: 991.98px) {
      .form-group {
        .dropdown-menu {
          left: 0;

          &::before {
            right: unset;
            left: 10px;
          }
        }
      }
    }
  }
}

// End Of Navbar
//=======================================================//
// Showcase //
