
/* Font Colors */

$base-font-size:15px;
$base-font-family:'Open Sans', sans-serif;

/* Background Colors */
$body-bg-color: #f3f3f3;
$primary-color: #76c7c0;
$primary-darker-color: #62bdbd;
$secondary-color: #e8645a;
$secondary-darker-color: #e2534b;
$light-bg-color: #f8f8f8;
$dark-bg-color: #ececec;

/* Links & Borders */
$primary-link-hover: #62a29e;
$primary-link-borders: #528b86;
$light-border-color: #e5e6e6;
$input-border-color: #d9dada;


/* Heading & paragraphs Colors */
$headings-color: #7f8c8c;
$paragraphs-color: #777777;

/* Social Media colors */

$facebook-color: #3B5998;
$twitter-color: #1DA1F2;
$google-plus-color: #DB4437;
$linkedin-color: #0077B5;
$rss-color: #f26522;
